<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>向你得server發送訊息吧</h1>
    <button type="button" onclick="send()">發送訊息</button>
    <script>

        function send(){

            <!--填入你的host吧-->
            fetch('https://6603-185-213-82-83.ngrok-free.app/', {
                method: 'POST',
                headers: {
                
                },
                body: JSON.stringify({
                    '這是測試': '你好',
                    '安安': '午安'
                })
            });
        }
    </script>
</body>
</html>